body{
	background-color: whitesmoke;
	font-family: monospace;
	font-size: 18px;
}

.navbar{
	border-radius: 5px;
	background-color: green;
}

.navbarOptions{
	border: none;
	background-color: green;
	font-family: monospace;
	font-size: 20px;
}

.navbarOptions:hover{
	background-color: darkgreen;
	text-decoration: underline;
}

.dropdown{
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	position: relative;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	cursor: pointer;
	width: auto;
	max-width: 100px;
	padding: 2px;
	border-radius: 5px;
	background-color: green;
}

.navbarOptions:hover + .dropdown-content, .dropdown-content:hover{
	display: block;
}